/* primeira parte*/

body{
    /* background-color:rgb(234, 215, 148); */
    background-image: './donut.jpg';
    background-color: rgb(249, 206, 206);
}

legend{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.div1{
    background-color:rgb(255, 140, 0);
    padding: 20px 40px;
    margin: 20px 150px 35px 150px;
    border-radius: 40px;
    border-style: solid;
    
    border-width: 5px;
    border-color: rgba(255, 98, 0, 0.883)
}





/* segunda parte*/

button{
    background-color:rgb(249, 132, 16);
    padding: 30px;
    margin: 0px 100px 30px 10px;
    border-radius: 40px;
    border-style:double;
    border-width: 3px;
    border-color: silver;
    box-shadow: 5px 5px 5px #0c0c0c;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.tipodeletra{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 5px;
}

input{
    border-radius: 8px;
    border-style:double;
    border-color: rgb(106, 101, 101);
    padding: 10px;
}

.perguntas{
    border: 2px solid rgb(0, 0, 0);
    border-style:ridge;
    padding: 2px;
    background-color: rgb(206, 215, 128);
    margin:10px 50px 30px 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

ul{
    list-style: none;
    
}



fieldset{
    margin: 0px 0px 45px 0px;
    border-radius: 30px;
    border-width: 6px;
    border-style: solid;
    border-color:rgba(255, 98, 0, 0.883)
}
.quiz{
    
    font-weight: bold;
    font-family:"Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: 40px;
    color:rgb(0, 0, 0);

}

.respostacerta{
    font-size: 30px;
    border:10px double rgb(168, 168, 6);
    box-shadow: 5px 5px 5px #13b40d;
    border-radius: 50px;
    margin:0px 0px 0px 100px;
}
.respostaerrada{
    font-size: 30px;
    border:10px double rgb(168, 6, 6);
    box-shadow: 5px 5px 5px #dd2e07;
    border-radius: 50px;
    margin:0px 0px 0px 100px;
}
    
.informacao{
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-family: sans-serif;
}

.comecar{
    font-size: 40px;
    text-align: center;
    color: red;
    font-weight: bold;
    margin: 0px 0px 40px 820px;
    text-align: center;
    text-shadow: 1px 1px 1px  #fffefc;
}
.passou{
    color:rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px #00ff00;
    font-weight: bold;

}
.naopassou{
    color:rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px #ff0000;
    font-weight: bold;
}

.tempo {
    margin: -58px 1200px 10px 400px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
}
.nomeinserido{
    margin: -75px 200px 10px 1300px;
    text-align: center;
    font-size: 30px;
    border-left: #ffbb3d 5px solid;
    border-right: rgb(207, 104, 0) 5px solid;
    border-top: #ff9100 5px solid;
    border-bottom:  #804a02 5px solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    padding: 3px 0px 0px 5px;
}

.recomeçar{
    font-size: 40px;
    text-align: center;
    color: red;
    font-weight: bold;
    margin: 0px 0px 40px 800px;
    text-align: center;
    text-shadow: 1px 1px 1px  #fffefc;
}
td{
    border-top: rgb(134, 116, 234) 5px solid;
    border-left:#8000ff 5px solid;
    border-right:#a60eb7 5px solid;
    border-bottom:#ff00b7 5px solid;
    text-align: center;
    padding: 0px opx ;
    font-size: 30px;
    padding: 5px 5px;
}
th{
    border-top: rgb(134, 116, 234) 5px solid;
    border-left:#8000ff 5px solid;
    border-right:#a60eb7 5px solid;
    border-bottom:#ff00b7 5px solid;
    text-align: center;
    padding: 0px 0px ;
    font-size: 40px;
    padding: 5px 5px;
}

.tabelaalunos{
    border-left:#8000ff 5px solid;
    margin: 0px 550px 0px 550px; 

}